<!DOCTYPE HTML>
<html>
	<head>
		<title>Successful!</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="static/assets/css/main.css" />
		<style>
            body {
                background-image: url("static/bg.jpg");
                background-attachment: fixed;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
        </style>
	</head>
	<body>
	<!-- Header -->
		<header id="header">
			<div class="logo"><a href="/flask_app">Operation Successful!</a></div>
		</header>
	<!-- Main -->
		<section id="main">
			<div class="inner">

				<!-- Two -->
				<section id="two" class="wrapper style2">
					<header>
						<a href="/flask_app"><h2>Return to Home</h2><a/>
					</header>
				</section>
			</div>
		</section>
	</body>
</html>